html {
    background: url(/res/shit.png), -webkit-gradient(linear, right top, left bottom, from(#7c4b00), to(#7c4b00));
    background: url(/res/shit.png), linear-gradient(to bottom left, #7c4b00, #7c4b00);
    background-attachment: fixed;
}

body {
    -webkit-backdrop-filter: grayscale(0.3);
    backdrop-filter: grayscale(0.3);
    overflow-x: hidden;
    margin: 0px;
}

span.blur {
    text-shadow: 0 0 8px #fff;
    color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.container {
    padding: .625rem;
    overflow: hidden;
    z-index: -2;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(124, 87, 32, 0.98)), to(rgba(124, 75, 0, 0.98)));
    background-image: linear-gradient(to bottom right, rgba(124, 87, 32, 0.98), rgba(124, 75, 0, 0.98));
    -webkit-box-shadow: inset 0px 0px 10px rgba(53, 53, 53, 0.801);
    box-shadow: inset 0px 0px 10px rgba(53, 53, 53, 0.801);
    max-width: 1100px;
    margin: 0px auto;
}

.icon {
    background: url(https://s3.ax1x.com/2021/01/16/sDHGQg.png);
    background-size: cover;
    margin: 0 auto;
    position: relative;
    width: 380px;
    height: 300px;
}

.icon::after {
    width: 200px;
    height: 200px;
    left: 100px;
    top: 52px;
    position: absolute;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100%;
    background: url(/res/shit.png);
    background-attachment: fixed;
    -webkit-animation: move infinite 5s;
    animation: move infinite 5s;
}

@-webkit-keyframes move {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 15% 15%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes move {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 15% 15%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.eo.title {
    color: white;
    font-size: 2.5rem;
    margin: 60px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

.eo.title:hover {
    -webkit-animation: pop normal 0.3s;
    animation: pop normal 0.3s;
}

@-webkit-keyframes pop {
    0% {}
    45% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: #865330;
    }
    100% {
        color: white;
    }
}

@keyframes pop {
    0% {}
    45% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: #865330;
    }
    100% {
        color: white;
    }
}

.eo.name {
    color: white;
    font-size: 5.625rem;
    margin: 60px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

.eo.name:hover {
    -webkit-animation: pop normal 0.3s;
    animation: pop normal 0.3s;
}

@keyframes pop {
    0% {}
    45% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: #865330;
    }
    100% {
        color: white;
    }
}

.eo.content {
    color: white;
}

.eo.splitline {
    width: 100%;
    background-color: #d6d6d6;
    height: 1px;
    margin: 0 auto;
}

pre {
    font-size: 1.25rem;
    text-align: left;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin-right: auto;
    margin-left: auto;
}

.eo.block {
    margin: 38px;
    margin-top: 50px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-size: cover;
    background: center;
    min-height: 10px;
    padding: 10px;
    background: -webkit-gradient(linear, right top, left top, from(#642b05), to(#301305));
    background: linear-gradient(to left, #642b05, #301305);
    border-radius: 40px 10px 10px 40px;
    counter-reset: l;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.eo.block img {
    height: 100px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    border-radius: 0px 0px 0px 0px;
    overflow: hidden;
    counter-increment: l;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 0px 3px #351002, 5px 4px 10px 5px rgba(39, 39, 39, 0.233);
    box-shadow: 0px 0px 0px 3px #351002, 5px 4px 10px 5px rgba(39, 39, 39, 0.233);
    -webkit-animation-timing-function: cubic-bezier(0.02, -0.01, 1, 0.99);
    animation-timing-function: cubic-bezier(0.02, -0.01, 1, 0.99);
}

@-webkit-keyframes rot {
    0% {
        -webkit-transform: rotate(0deg) scale(1.5);
        transform: rotate(0deg) scale(1.5);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1.5);
        transform: rotate(360deg) scale(1.5);
    }
}

@keyframes rot {
    0% {
        -webkit-transform: rotate(0deg) scale(1.5);
        transform: rotate(0deg) scale(1.5);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1.5);
        transform: rotate(360deg) scale(1.5);
    }
}

.eo.block div {
    float: left;
}

.eo.block .blocktitle {
    position: absolute;
    top: 0px;
    left: 160px;
    font-weight: 800;
    font-size: 2.5rem;
    z-index: 3;
}

.eo.block .blocksubtitle {
    position: absolute;
    top: 3.125rem;
    left: 160px;
    font-style: oblique;
    font-size: 1.25rem;
    z-index: 3;
}

.eo.block:hover {
    -webkit-box-shadow: 5px 4px 30px rgba(39, 39, 39, 0.233);
    box-shadow: 5px 4px 30px rgba(39, 39, 39, 0.233);
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
}

.eo.block:hover img {
    -webkit-animation: rot 10s infinite;
    animation: rot 10s infinite;
}

* {
    color: white;
}

a {
    color: #8282c7;
}

#busuanzi_container_site_pv {
    position: absolute;
    left: 0px;
    color: white;
    background-color: #6e5022;
    margin-bottom: 0px;
    width: 100vw;
    height: 30px;
    -webkit-backdrop-filter: blur(17px);
    backdrop-filter: blur(17px);
    text-align: center;
}


/*# sourceMappingURL=default.css.map */