html {
    background: url(/res/shit.png), linear-gradient(to bottom left, rgb(124, 75, 0), rgb(124, 75, 0));
    background-attachment: fixed;
}

body {
    backdrop-filter: grayscale(0.3);
    overflow-x: hidden;
    margin: 0px;
}

span.blur {
    text-shadow: 0 0 8px #fff;
    color: transparent;
    user-select: none;
}

div.container {
    padding: .625rem;
    overflow: hidden;
    z-index: -2;
    background-image: linear-gradient(to bottom right, rgba(124, 87, 32, 0.98), rgba(124, 75, 0, 0.98));
    box-shadow: inset 0px 0px 10px rgba(53, 53, 53, 0.801);
    max-width: 1100px;
    margin: 0px auto;
}

.icon {
    background: url(https://s3.ax1x.com/2021/01/16/sDHGQg.png);
    // z-index: -1;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    width: 380px;
    height: 300px;
    &::after {
        width: 200px;
        height: 200px;
        left: 100px;
        top: 52px;
        position: absolute;
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 100%;
        background: url(/res/shit.png);
        background-attachment: fixed;
        @keyframes move {
            0% {
                background-position: 0% 0%;
            }
            50% {
                background-position: 15% 15%;
            }
            100% {
                background-position: 0% 0%;
            }
        }
        animation: move infinite 5s;
    }
}

.eo.title {
    color: white;
    font-size: 2.5rem;
    margin: 60px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    &:hover {
        @keyframes pop {
            0% {}
            45% {
                transform: scale(1.1);
                color: rgb(134, 83, 48);
            }
            100% {
                color: white;
            }
        }
        animation: pop normal 0.3s;
    }
}

.eo.name {
    color: white;
    font-size: 5.625rem;
    margin: 60px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    &:hover {
        @keyframes pop {
            0% {}
            45% {
                transform: scale(1.1);
                color: rgb(134, 83, 48);
            }
            100% {
                color: white;
            }
        }
        animation: pop normal 0.3s;
    }
}

.eo.content {
    color: white;
}

.eo.splitline {
    width: 100%;
    background-color: rgb(214, 214, 214);
    height: 1px;
    margin: 0 auto;
}

pre {
    font-size: 1.25rem;
    text-align: left;
    width: min-content;
    margin-right: auto;
    margin-left: auto;
}

.eo.block {
    margin: 38px;
    margin-top: 50px;
    backdrop-filter: blur(10px);
    background-size: cover;
    background: center;
    min-height: 10px;
    padding: 10px;
    background: linear-gradient(to left, rgb(100, 43, 5), rgb(48, 19, 5));
    border-radius: 40px 10px 10px 40px;
    counter-reset: l;
    // overflow: hidden;
    img {
        height: 100px;
        transform: scale(1.5);
        border-radius: 0px 0px 0px 0px;
        overflow: hidden;
        counter-increment: l;
        border-radius: 100%;
        box-shadow: 0px 0px 0px 3px rgb(53, 16, 2), 5px 4px 10px 5px rgba(39, 39, 39, 0.233);
        @keyframes rot {
            0% {
                transform: rotate(0deg) scale(1.5);
            }
            100% {
                transform: rotate(360deg) scale(1.5);
            }
        }
        // animation: rot 10s infinite;
        animation-timing-function: cubic-bezier(0.02, -0.01, 1, 0.99);
    }
    div {
        float: left;
    }
    position: relative;
    .blocktitle {
        position: absolute;
        top: 0px;
        left: 160px;
        font-weight: 800;
        font-size: 2.5rem;
        z-index: 3;
    }
    .blocksubtitle {
        position: absolute;
        top: 3.125rem;
        left: 160px;
        font-style: oblique;
        font-size: 1.25rem;
        z-index: 3;
    }
    transition: all 0.3s;
    &:hover {
        box-shadow: 5px 4px 30px rgba(39, 39, 39, 0.233);
        transform: translate(-10px, -10px);
        img {
            animation: rot 10s infinite;
        }
    }
}

* {
    color: white;
}

a {
    color: rgb(130, 130, 199);
}

#busuanzi_container_site_pv {
    position: absolute;
    left: 0px;
    color: white;
    background-color: rgba(110, 80, 34, 1);
    margin-bottom: 0px;
    width: 100vw;
    height: 30px;
    backdrop-filter: blur(17px);
    text-align: center;
}