html {
  font-size: 30px;
  background: #7a4f0d;
}

.eo.block {
  border-radius: 60px 40px 40px 40px;
  height: 5rem;
  padding: 20px;
}

.blur {
  text-shadow: 0 0 19px #fff;
}
/*# sourceMappingURL=mobile.css.map */