html {
    font-size: 30px;
    background: rgb(122, 79, 13);
}

.eo.blocksubtitle {
    // text-overflow: ellipsis;
    // width: 30%;
    // overflow: hidden;
    // white-space: nowrap;
}

.eo.block {
    border-radius: 60px 40px 40px 40px;
    height: 5rem;
    padding: 20px;
}

.blur {
    text-shadow: 0 0 19px #fff;
}